*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
/*TOP OF THE WEBSITE-THE FIRST LINE OF ACTION-PICTURE */
.banner{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
/*SLIDER IS APART OF THE LITTLE SLIDE SHOW IN THE BACKGROUND*/
.slider{
   width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}

form{
    position: relative;
    top: 50%;
    left: 20%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa1{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: -10px;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

svg {
    color: rgb(0, 0, 0);
    fill: currentColor;
    width: 24px;
    height: 24px;
    padding: 0px;
  }
form:hover{
    width: 300px;
    cursor: pointer;
}

form:hover input{
    display: block;
}

form:hover .fa1{
    background: #ffffff;
    color: rgb(0, 0, 0);
}
#slideImg{
    width: 100%;
    height: 100%;
    animation: ease-in-out;
    animation: smooth;
}
@keyframes fade{
    0%{
        transform: scale(1.3);
    }
    15%{
        transform: scale(1);
    }
    85%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.3);
    }
}    
/*THIS LINE BELOW DIMS THE BRIGHTNESS OF HE WEBPAGE*/
.overlay{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.9));
    position: absolute;
    top: 0;
}
/*SHOWS THE WORD AT THE TOP THAT ARE CLICKABLE*/
.navbarz{
    width: 150%;
    display: flex;
    align-items: center;
    margin: 35px auto;
    z-index: -1;
    
 }
 /*THE LOGO IN THE TOP LEFT-HAND SIDE OF THE SCREEN*/
 .logo{
    flex-basis: 15%;
 }
 .logo img{
    padding: 0px 35px;
    width: 120px;
    cursor: pointer;
}
 /*NOT INSERTED YET BUT THIS WILL HAVE THE LOGO OF A CART AND MORE */
 .menu-icons{
    flex: 1;
    align-items: center;
    text-align: right;
}
.menu-icons img{
    width: 20px;
    margin-left: 40px;
    cursor: pointer;
}
/*DESCRIPTION IN THE CENTER*/
.content{
    width: 60%;
    margin: 190px auto 0;
    text-align: center;
    color: white;
}

/*-----.content hl{
    font-size: 60px;
    
}
/*-----
    width: 80%;
    margin: 20px auto 100px;
    font-weight: 100;
    line-height: 25px;
}-----*/
/*THE TWO BUTTONS IN THE MIDDLE OF THE SCREEN*/

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 0 10px;
    font-weight: bold;
    border: 1px solid rgba(255, 217, 0, 0.911);
    background: transparent;
    color: #fff;
    cursor: pointer;
    transition: 0.2s; 
    border-style: solid;
    box-shadow: 2px solid black;
}
button:hover{
    background: rgba(37, 36, 30, 0.651);
    border: 2px solid #fff;
}
/*BELOW THIS LINE IS NEW CONTENT */

nav{
    height: 50px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 12px 22px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ol{
    display: inline-block;
    padding: 2px 2px;
    /*------LOCATIONS INCLUDING 3 ROWS -----border: 3.1px solid #ffffff;
    background: transparent;/*------LOCATIONS INCLUDING 3 ROWS -----*/
}    
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgba(255, 217, 0, 0.651);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
nav .fa{
    display: none;
}

@media(max-width: 700px){
    .text-book h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
        height: 50px;
    }
    .nav-links{
        position: absolute;
        background: #000000;
        height: 100vh;
        width: 190px;
        top: -62px;
        right: -419px auto;
        text-align: left;
        z-index: -1;
        transition: 0.5s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 5px;
    } 
}
/*------LOCATIONS INCLUDING 3 ROWS -----*/

.Locations{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
    text-decoration: none;
}
p{
    color: black;
    font-size: 19px;
    font-weight: 600px;
    line-height: 22px;
    padding: 10px;
    text-decoration: none;
    text-underline-position: none;
    
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    
}
.locations-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    cursor: pointer;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    text-decoration: none;
    color: black;

}
.locations-col:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}
/*-------- services------*/
.services{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.services-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    
}
.services-col img{
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
    

/*----Lower the number the lower the item becomes on site-----*/
}
.layer{
    z-index: 1;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;

}

.layer:hover{
    z-index: 1;
    background: rgba(255, 217, 0, 0.356);
    cursor: pointer;
}
.layer h3{
    width: 100%;
    font-weight: 500%;
    color: #fff;
    font-size: 26px;
    bottom: -50%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;

}
.layer:hover h3{
    bottom: 59%;
    opacity: 1;
    transition: 0.8s;

} 
/*------ Not Sure -----*/

.notSure{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    padding: 120px;
    
}
.notSure-col{
    flex-basis: 5%;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    

}
.responsive {
        max-width: 100%;
        height: auto;
        image-rendering: optimizeQuality;
      }
.notSure-col img{
    width: 100%;
    height: 75%;
    display: block;
    z-index: 1;
    border-radius: 9px;
    box-shadow: 2px rgb(0, 0, 0);
    padding: -20px;
    
}
.notSure-col h3{
    padding-top: 20px;
    text-align: center;
    font-size: 40px;
    text-decoration: none;
    color: #000000;
}
.notSure-col p{
    padding-top: -80px;
    font-size: 18px;
    padding-bottom: 60px;

}
.button1{
    height: 50px;
    width: 180px;
    padding: 5px;
    text-align: center;
    margin: -50px 10px;
    font-weight: bold;
    border: 1px solid rgba(255, 217, 0, 0.911);
    background: rgb(124, 124, 124);
    color: rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    border-style: solid;
    box-shadow: 3px solid black;
    transition: 0.85s;
}
.button1:hover{
    background: rgba(173, 173, 173, 0.87);
    border: 2px solid #fff;
}

/*----Revies Section-----*/

.review{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 100px;
}
.review-col{
    flex-basis: 44%;
    border-radius: 10px;
    text-align: left;
    background: #fff3f3;
    padding: 45px 20px;
    cursor: pointer;
    display: flex;
}
.review-col img{
    height: 50px;
    width: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 100%;
}
.review-col p{
    padding: 0;
}
.review-col h3{
    margin-top: 15px;
    text-align: left;
}
.review-col .fa{
    color: #f44336;
}
@media (max-width: 700px){
    .testimonial-col img{
        margin-left: 5px;
        margin-right: 30px;
    }
}
/*----- call to action -----*/

.cta{
    margin: 100px auto;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.007)), url(images/pexels-katarzyna-dzierżyńska-1646730.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 100px 0;
    text-decoration: none;
}
.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}    
@media(max-width: 700px){
    .cta hl{
         font-size: 24px;
    }     
}
.line{
    width: 2px;

}
.icons .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 25px 2px;
}
.fa-heart-o{
    color: #f44336;
}
/*-----FADE IN AND OUT-----*/
.wrapper-text{
    text-align: center;
    font-size: 45px;
    line-height: 55px;
    letter-spacing: 5px;
    font-family: poppins;
    text-transform: uppercase;
    opacity: 0;
    animation: ani2 8.5s ease-out forwards;
}
.wrapper-text h2,
.wrapper-text h4{
    opacity: 0;
    margin: 0;
}
.wrapper-text h2{
    animation: ani2 0.75s ease-out 3s forwards;
}
.wrapper-text h4{
    animation: ani2 0.75s ease-out 3s forwards;
    animation: ani2 0.75s ease-out 4s forwards;
    /*-----FADE IN AND OUT-----*/
}
/*-----FADE IN AND OUT-----*/
.wrapper-text1{
    text-align: center;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 2px;
    font-family: poppins;
    opacity: 0;
    animation: ani2 2.5s ease-out forwards;
}
.wrapper-text1 h2,
.wrapper-text1 h4{
    opacity: 0;
    margin: 0;
}
.wrapper-text1 h2{
    animation: ani2 0.75s ease-out 3s forwards;
}
.wrapper-text1 h4{
    animation: ani2 0.75s ease-out 3s forwards;
    animation: ani2 0.75s ease-out 4s forwards;
}/*-----FADE IN AND OUT-----*/
@keyframes ani2{
    100%{
        opacity: 1;
    }
}
    
@keyframes anil{
    100%{
        transform: scale (1.55);
    }
}
  #navbar {
    background-color: rgba(0, 0, 0, 0.966);
    position: fixed;
    top: -180px;
    width: 100%;
    display: center;
    transition: top 0.6s;
    z-index: 5;
}
  
#navbar a{
    float: left;
    display: flex;
    color: #ffffff;
    text-align: center;
    padding: 6px 118.99px;
    
    text-decoration: none;
    font-size: 17px;
    max-width: 100%;
    
}
  
  #navbar a:hover {
    background-color:rgba(255, 217, 0, 0.911);
    color: rgb(0, 0, 0);
  }
  @media(max-width: 700px){
    .text-book h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    #navbar{
        position: absolute;
        background: #000000;
        height: 100vh;
        width: 130px;
        top: 1000px;
        right: 10px;
        text-align: left;
        z-index: 5;
        transition: 0.5s;
    }
    #navbar .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    #navbar ul{
        padding: 10px;

    } 
}
#more{
    display: none;
}


/*CHECK BOX*/

.checklist{
    width: 75%;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    border-radius: 10px;
    background: #fff3f3;
    margin-right: 10%;
    margin-left: 10%;
    position: relative;
    padding: 50px;


}
.checklist img{
    float: left;
    max-width: 100%;
    height: auto;
    display: center;
    z-index: 1;
    position: relative;
    border-radius: 20px;
    padding: 10px;

}
.checklist h4{
    font-size: 25px;
    padding: 20px;
    position: relative;
}
.checklist h3{
    font-size: 15px;
    text-align: left;
    display: inline;
    position: relative;

}
.buttonz1{
    height: 50px;
    width: 150px;
    padding: 15px;
    text-align: center;
    margin: 30px 80px;
    font-weight: bold;
    border: 1px solid rgba(255, 217, 0, 0.911);
    background: rgba(78, 75, 75, 0.685);
    color: rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    border-style: solid;
    box-shadow: 2px solid black;
    transition: 0.85s;
}
.buttonz{
    height: 50px;
    width: 400px;
    padding: 15px;
    text-align: center;
    margin: 50px 80px;
    font-weight: bold;
    border: 1px solid rgba(255, 217, 0, 0.911);
    background: rgba(78, 75, 75, 0.685);
    color: rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    border-style: solid;
    box-shadow: 2px solid black;
    transition: 0.85s;

}
.buttonz1:hover{
    background: rgba(173, 173, 173, 0.87);
    border: 2px solid #fff;
}

.buttonz:hover{
    background: rgba(173, 173, 173, 0.87);
    border: 2px solid #fff;
}
/*----- footer -----*/
.footer{
    width: 100%;
    min-height: auto;
    background-color:  #fff3f3;
    text-align: center;
    padding: 50px 20px;
    box-sizing: border-box;

    
    
}

.p1{
    font-weight: 600;
    font-size: 18px;
    top: -20px;
    position: relative;
    
}
.oop{
    width: 80%;
    display: contents;
    position: absolute;
    
}
.footer h5{
    top: -20px;
    position: relative;
    font-weight: 600;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.footer h4{
    text-align: left;
    font-size: 15px;
    -webkit-box-direction: normal;
    font-style: normal;
    word-spacing: normal;
    padding: 2px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
}
.credits{
    display: flex; 
    height: 140px;
    width: 80%;
    

}
.Leftbox{
    float: right;
    height: 70px;
    width: 23%;
    
    

}
.rightbox{
    float: right;
    height: 70px;
    width: 23%;
    

}
.middlebox{
    height: 70px;
    width: 23%;
    padding-left: 50px;
}
.middlebox1{
    height: 70px;
    width: 23%;
    padding: 0 10px;
}


.BOTTEM{
    margin-bottom: 10px;
}
.logo1{
    flex-basis: 15%;
    z-index: 1;
    position: absolute;
 }
 .logo1 img{

    width: 160px;
    cursor: pointer;
    bottom: auto;
    display: center;
    margin-top: -50px;
}
.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    overflow: hidden;
}
@media(min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media(max-aspect-ratio: 16/9){
    .back-video{
        width: auto;

        height: 100%;
    }
}
